body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(165, 209, 247);
}

a {
    text-decoration: none;

}
.box {
    font-size: 20px;
    color: white;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: #fffdfd;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}