body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(165, 209, 247);
}

a {
    text-decoration: none;

}
.box {
    font-size: 20px;
    color: white;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: #fffdfd;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo-botao {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

button {
    height: 30px;
    width:50px;
    background-color: white;
    border-radius: 5px;
    color: blue;
    font-weight: 600;
}